Repository pavelzw/skill-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, zizmor

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: Make sure pixi envs are up to date
        entry: pixi install
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run end-of-file-fixer
        language: system
        types: [text]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: pixi run mixed-line-ending
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # zizmor
      - id: zizmor
        name: zizmor
        entry: pixi run zizmor --min-severity high --fix .
        language: system
        types: [yaml]
        pass_filenames: false

Fix autobump workflow (#31)
  .github/workflows/autobump.yml
Due: zizmor

Bump polars from 3a5f2e2227d64679bbe998acfea53007102b4d94 to 575f1e586f6b484feb3cba040b6e29f2a56f3c74
  recipes/polars/recipe.yaml
Due: zizmor

not needed
  recipes/polars/fix-skill.patch
Due: none

Add gws-cli recipe with generate script
  .github/scripts/update.sh
  .github/workflows/autobump.yml
  pixi.lock
  pixi.toml
  recipes/gws-cli/README.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: taplo, zizmor

Mark gws-cli recipe.yaml as generated in gitattributes
  .gitattributes
Due: none

Skip agentskills validate for gws-cli skills
  recipes/gws-cli/README.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

CI: check gws-cli recipe.yaml matches generate.py output
  .github/workflows/ci.yml
Due: zizmor

CI: check gws-cli recipe matches generate.py output
  .github/workflows/check-generated-gws-cli.yml
Due: zizmor

Fix update_generate to work on macOS
  .github/scripts/update.sh
Due: none

Use upstream version tag instead of commit SHA
  .github/scripts/update.sh
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Use tarball source instead of git clone
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Move package version into generate.py
  .github/scripts/update.sh
  recipes/gws-cli/generate.py
Due: none

Document package naming convention in gws-cli README
  recipes/gws-cli/README.md
Due: none

Add timeout to urlopen calls and validate frontmatter delimiters
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Generate SKILLS.md listing all gws-cli packages
  .gitattributes
  .github/workflows/check-generated-gws-cli.yml
  README.md
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Address review feedback
  .github/scripts/update.sh
  .github/workflows/check-generated-gws-cli.yml
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Add type annotations and docstrings to generate.py
  recipes/gws-cli/generate.py
Due: none

Fix help text: REV -> VERSION in generate strategy description
  .github/scripts/update.sh
Due: none

add update-lockfile workflow
  .github/workflows/update-lockfile.yml
Due: zizmor

add update-lockfile workflow (#34)
  .github/workflows/update-lockfile.yml
Due: zizmor

Move generate-gws-cli into default environment
  .github/scripts/update.sh
  pixi.toml
Due: taplo

Bump Python requirement to >=3.14
  pixi.toml
Due: taplo

Add gws-cli recipe with generate script (#33)
  .gitattributes
  .github/scripts/update.sh
  .github/workflows/autobump.yml
  .github/workflows/check-generated-gws-cli.yml
  README.md
  pixi.lock
  pixi.toml
  recipes/gws-cli/README.md
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: taplo, zizmor

Bump gws-cli from 0.16.0 to 0.17.0
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Bump gws-cli from 0.17.0 to 0.18.1
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Add presentation-design skill
  README.md
  recipes/presentation-design/SKILL.md
  recipes/presentation-design/recipe.yaml
Due: zizmor

Emphasize full-slide images when only one graphic per slide
  recipes/presentation-design/SKILL.md
Due: none

Clarify that outline structure is flexible
  recipes/presentation-design/SKILL.md
Due: none

Add language specifier to fenced code block
  recipes/presentation-design/SKILL.md
Due: none

Add pixi.toml for pixi-build
  recipes/presentation-design/pixi.toml
Due: taplo

Add license file via source download
  recipes/presentation-design/recipe.yaml
Due: zizmor

Use local path for license file instead of URL
  recipes/presentation-design/recipe.yaml
Due: zizmor

Add presentation-design skill (#38)
  README.md
  recipes/presentation-design/SKILL.md
  recipes/presentation-design/pixi.toml
  recipes/presentation-design/recipe.yaml
Due: taplo, zizmor

Fix wording: PNG image -> PNG
  recipes/typst-presentations/SKILL.md
Due: none

Simplify 16:9 page setup to a brief mention
  recipes/typst-presentations/SKILL.md
Due: none

Add pixi.toml for pixi build
  recipes/typst-presentations/pixi.toml
Due: taplo

Add typst-presentations skill
  README.md
  recipes/typst-presentations/SKILL.md
  recipes/typst-presentations/recipe.yaml
Due: zizmor

Add minimal 16:9 page setup snippet
  recipes/typst-presentations/SKILL.md
Due: none

Integrate typst-presentations into typst skill as a reference file
  README.md
  recipes/typst-presentations/pixi.toml
  recipes/typst-presentations/recipe.yaml
  recipes/typst/PROMPT.md
  recipes/typst/SKILL.md
  recipes/typst/recipe.yaml
  recipes/typst/references/PRESENTATIONS.md
Due: taplo, zizmor

Add presentations guide to typst skill (#39)
  recipes/typst/PROMPT.md
  recipes/typst/SKILL.md
  recipes/typst/recipe.yaml
  recipes/typst/references/PRESENTATIONS.md
Due: zizmor
