Repository pavelzw/skill-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, zizmor

taplo:
  name: taplo
  entry: pixi run taplo format
  language: system

zizmor:
  name: zizmor
  entry: pixi run zizmor --min-severity high --fix .
  language: system
  pass_filenames: false

feat: Update conda-forge skill
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/arm-builds-and-cross-compilation.md
Due: zizmor

WIP
  recipes/conda-forge/SKILL.md
Due: none

feat: Update conda-forge skill (#94)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/arm-builds-and-cross-compilation.md
Due: zizmor

Refactor update command in pixi.toml
  pixi.toml
Due: taplo

Add grilling skill mirrored from mattpocock/skills (#87)
  .github/workflows/autobump.yml
  .pre-commit-config.yaml
  README.md
  pixi.lock
  pixi.toml
  recipes/grilling/recipe.yaml
Due: taplo, zizmor

mention --gh in cf-job-logs
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

mention --gh in cf-job-logs (#95)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

conda-forge: recommend git-style patches for source changes
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

conda-forge: shorten patching section
  recipes/conda-forge/SKILL.md
Due: none

conda-forge: recommend git-style patches (#96)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

conda-forge: document maturin + abi3 recipes
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-python.md
  recipes/conda-forge/references/example-recipe-rust.md
Due: zizmor

fix
  recipes/conda-forge/references/example-recipe-python.md
Due: none

conda-forge: document maturin + abi3 recipes (#97)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-python.md
  recipes/conda-forge/references/example-recipe-rust.md
Due: zizmor

Update source URL for example-package in recipe
  recipes/conda-forge/references/example-recipe-python.md
Due: none

Bump version from 0.0.21 to 0.0.22
  recipes/conda-forge/recipe.yaml
Due: zizmor

conda-forge: Update source URL for example-package in recipe (#98)
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-python.md
Due: zizmor

Bump pydantic-skills from 97d8c1d5adcf85dce633f5f4633f4e01464d087e to 238d97102650c1caa51f35027aee13c469c59542
  recipes/pydantic-skills/recipe.yaml
Due: zizmor

Bump librarian from c68c84c31dc9db46238888db7b5cd44afd971d7a to 122e2994adddb113c04764c5697217dae120fcc6
  recipes/librarian/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to 49c6e97775eaa18ba791bebe23162a70ae601c18
  recipes/polars/recipe.yaml
Due: zizmor

conda-forge: add frequent fixes section for Rust recipes
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-rust.md
Due: zizmor

conda-forge: correct ppc64le linker note on link-self-contained
  recipes/conda-forge/references/example-recipe-rust.md
Due: none

Update pixi lockfile
  pixi.lock
Due: none

Bump librarian from c68c84c31dc9db46238888db7b5cd44afd971d7a to 0865c849befd2021490679f96a8dee58c84ac857
  recipes/librarian/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to 154988403bb5a18e9d3c0ce4e6d5e2e4b184a298
  recipes/polars/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to 92ace75ac21efe19a620434e0ca4e356081fe807
  recipes/polars/recipe.yaml
Due: zizmor

Bump grilling from 1.2.3 to 1.3.1
  recipes/grilling/recipe.yaml
Due: zizmor

conda-forge: test noarch python against min and latest Python
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

Path conditions:
  taplo: any of: \.toml$
  zizmor: any of: \.(yaml|yml)$
