Repository pavelzw/skill-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, zizmor

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: Make sure pixi envs are up to date
        entry: pixi install
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run end-of-file-fixer
        language: system
        types: [text]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: pixi run mixed-line-ending
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # zizmor
      - id: zizmor
        name: zizmor
        entry: pixi run zizmor --min-severity high --fix .
        language: system
        types: [yaml]
        pass_filenames: false

add librarian skill
  .github/workflows/autobump.yml
  README.md
  recipes/librarian/recipe.yaml
Due: zizmor

add librarian skill (#73)
  .github/workflows/autobump.yml
  README.md
  recipes/librarian/recipe.yaml
Due: zizmor

Bump pydantic-skills from 97d8c1d5adcf85dce633f5f4633f4e01464d087e to 92bd097356e1a4947f815449fb3570a9a5cfc21b
  recipes/pydantic-skills/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to cbcae7bbf776cd41aeaa59ea06b8f0e6eacfb16f
  recipes/polars/recipe.yaml
Due: zizmor

add review-skill
  .gitignore
  README.md
  recipes/review-skill/SKILL.md
  recipes/review-skill/recipe.yaml
Due: zizmor

tighten review-skill SKILL.md
  recipes/review-skill/SKILL.md
Due: none

rename review-skill to pr-review
  README.md
  recipes/pr-review/SKILL.md
  recipes/pr-review/recipe.yaml
Due: zizmor

install agent skills into share/agent-skills so pixi-skills finds them
  AGENTS.md
  examples/example-skill/recipe.yaml
  examples/mirror-skills.sh/recipe.yaml
  recipes/pr-review/recipe.yaml
Due: zizmor

require shorter IDs in pr-review findings
  recipes/pr-review/SKILL.md
Due: none

pr-review: push as pending review only, never submit
  recipes/pr-review/SKILL.md
  recipes/pr-review/recipe.yaml
Due: zizmor

pr-review: forbid summary placeholder in findings file
  recipes/pr-review/SKILL.md
Due: none

Update pixi lockfile
  pixi.lock
Due: none

chore: Add license file
  recipes/pr-review/recipe.yaml
Due: zizmor

add skill for reviewing pull requests (#74)
  .gitignore
  AGENTS.md
  README.md
  examples/example-skill/recipe.yaml
  examples/mirror-skills.sh/recipe.yaml
  recipes/pr-review/SKILL.md
  recipes/pr-review/recipe.yaml
Due: zizmor

conda-forge: Mention inlining name
  recipes/conda-forge/references/rattler-build-migration.md
Due: none

bump version
  recipes/conda-forge/recipe.yaml
Due: zizmor

conda-forge: Mention inlining name (#78)
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/rattler-build-migration.md
Due: zizmor

Bump librarian from ab79f98104bcd3c6a7c5491e609f6d6700a7414d to c68c84c31dc9db46238888db7b5cd44afd971d7a
  recipes/librarian/recipe.yaml
Due: zizmor

Bump pydantic-skills from 97d8c1d5adcf85dce633f5f4633f4e01464d087e to 1e7a4567d8375e8ef07ad078d7f38bc03ce5e944
  recipes/pydantic-skills/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to 9c12fcc25efb2042ec41d5d9c331a76f8e2020b5
  recipes/polars/recipe.yaml
Due: zizmor

Bump librarian from c68c84c31dc9db46238888db7b5cd44afd971d7a to a71bed215fb67005bdb23916110decff3dceeecb
  recipes/librarian/recipe.yaml
Due: zizmor

conda-forge: Add go-licenses failure handling
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/references/go-licenses.md
Due: none

Bump recipe version
  recipes/conda-forge/recipe.yaml
Due: zizmor

CodeRabbit review
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/references/go-licenses.md
Due: none

mention cf-job-logs wait-for-ci --fail-fast
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

when to use
  recipes/conda-forge/SKILL.md
Due: none

wip
  recipes/conda-forge/SKILL.md
Due: none

mention `cf-job-logs wait-for-ci --fail-fast` (#81)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

Add grilling skill mirrored from mattpocock/skills
  .github/workflows/autobump.yml
  README.md
  recipes/grilling/recipe.yaml
Due: zizmor

switch to github release
  .github/workflows/autobump.yml
  pixi.toml
  recipes/grilling/recipe.yaml
Due: taplo, zizmor

Add Quant Ranger custom updater skill
  .github/workflows/autobump.yml
  README.md
  recipes/create-custom-updater/recipe.yaml
Due: zizmor

Bump pydantic-skills from 97d8c1d5adcf85dce633f5f4633f4e01464d087e to 9e9390ee24d44b32cf5379c58acaebd7563f5f86
  recipes/pydantic-skills/recipe.yaml
Due: zizmor

Bump librarian from c68c84c31dc9db46238888db7b5cd44afd971d7a to 4fb0c7d68c87c3612af6289f72b5d90a11a726b8
  recipes/librarian/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to 1e5eeffbdad3749125afe7ab48a39694e27f181c
  recipes/polars/recipe.yaml
Due: zizmor

Bump librarian from c68c84c31dc9db46238888db7b5cd44afd971d7a to 122e2994adddb113c04764c5697217dae120fcc6
  recipes/librarian/recipe.yaml
Due: zizmor

Bump pydantic-skills from 97d8c1d5adcf85dce633f5f4633f4e01464d087e to 501b11a5b3f92b9c78bbe9bd76442df0ad68dadf
  recipes/pydantic-skills/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to 330c8e764435a731eff571e3efdda70b363d0792
  recipes/polars/recipe.yaml
Due: zizmor
