Repository pavelzw/skill-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, zizmor

taplo:
  name: taplo
  entry: pixi run taplo format
  language: system

zizmor:
  name: zizmor
  entry: pixi run zizmor --min-severity high --fix .
  language: system
  pass_filenames: false

cleanup
  recipes/conda-forge/redesign.md
Due: none

fix
  recipes/conda-forge/SKILL.md
Due: none

add note on grayskull CWD
  recipes/conda-forge/SKILL.md
Due: none

Revise reference guides in recipe.yaml
  recipes/conda-forge/recipe.yaml
Due: zizmor

Apply suggestion from @Copilot
  recipes/conda-forge/SKILL.md
Due: none

Apply suggestion from @pavelzw
  recipes/conda-forge/SKILL.md
Due: none

Update recipes/conda-forge/SKILL.md
  recipes/conda-forge/SKILL.md
Due: none

Rewrite `conda-forge` skill (#17)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/common-issues.md
  recipes/conda-forge/references/creating-packages.md
Due: zizmor

init
  recipes/pydantic-evals/SKILL.md
  recipes/pydantic-evals/pixi.toml
  recipes/pydantic-evals/recipe.yaml
Due: taplo, zizmor

expand
  recipes/pydantic-evals/SKILL.md
Due: none

dict returns
  recipes/pydantic-evals/SKILL.md
Due: none

shorten
  recipes/pydantic-evals/SKILL.md
Due: none

add back ReportCase detail
  recipes/pydantic-evals/SKILL.md
Due: none

Apply suggestions from code review
  recipes/pydantic-evals/SKILL.md
Due: none

upstream license
  recipes/pydantic-evals/recipe.yaml
Due: zizmor

add info re: generic
  recipes/pydantic-evals/SKILL.md
Due: none

bump version
  recipes/pydantic-evals/recipe.yaml
Due: zizmor

mention shell completions for go+rust packages
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-go.md
  recipes/conda-forge/references/example-recipe-rust.md
Due: zizmor

fix
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/references/shell-completions.md
Due: none

conda-forge: sync fork main with upstream before branching
  recipes/conda-forge/SKILL.md
Due: none

conda-forge: backup fork main before resetting to upstream
  recipes/conda-forge/SKILL.md
Due: none

Add missing v0-to-v1 conversion pitfalls from traversaro/conda-recipe-v0-to-v1-conversion-prompt
  recipes/conda-forge/references/rattler-build-migration.md
Due: none

Add rattler-build-migration with more v0 vs v1 key differences
  recipes/conda-forge/references/rattler-build-migration.md
Due: none

feat: Use `cf-job-logs` for fetching conda-forge CI logs
  recipes/conda-forge/SKILL.md
Due: none

Bump agent-skill-conda-forge version
  recipes/conda-forge/recipe.yaml
Due: zizmor

dont'
  .github/workflows/package.yml
Due: zizmor

run pre-commit checks as well...
  .github/workflows/ci.yml
Due: zizmor

Update SKILL.md
  recipes/conda-forge/SKILL.md
Due: none

whitespace
  recipes/conda-forge/SKILL.md
Due: none

Bump version from 0.0.8 to 0.0.9
  recipes/conda-forge/recipe.yaml
Due: zizmor

fix
  recipes/conda-forge/references/rattler-build-migration.md
Due: none

WIP
  recipes/conda-forge/adw
Due: none

add textual skill
  README.md
  recipes/textual/PROMPT.md
  recipes/textual/SKILL.md
  recipes/textual/pixi.toml
  recipes/textual/recipe.yaml
  recipes/textual/references/CSS.md
  recipes/textual/references/EVENTS.md
  recipes/textual/references/SCREENS.md
  recipes/textual/references/TESTING.md
  recipes/textual/references/WIDGETS.md
  recipes/textual/references/WORKERS.md
Due: taplo, zizmor

Add py-rattler skill
  README.md
  recipes/py-rattler/SKILL.md
  recipes/py-rattler/pixi.toml
  recipes/py-rattler/recipe.yaml
  recipes/py-rattler/references/channels-platforms.md
  recipes/py-rattler/references/exceptions.md
  recipes/py-rattler/references/gateway-repodata.md
  recipes/py-rattler/references/indexing.md
  recipes/py-rattler/references/lock-files.md
  recipes/py-rattler/references/match-spec.md
  recipes/py-rattler/references/networking.md
  recipes/py-rattler/references/package-metadata.md
  recipes/py-rattler/references/package-records.md
  recipes/py-rattler/references/package-streaming.md
  recipes/py-rattler/references/prefix-records.md
  recipes/py-rattler/references/pty.md
  recipes/py-rattler/references/shell-activation.md
  recipes/py-rattler/references/solving-installing.md
  recipes/py-rattler/references/version.md
  recipes/py-rattler/references/virtual-packages.md
Due: taplo, zizmor

Fix rattler repo URL (conda/rattler, not prefix-dev/rattler)
  README.md
  recipes/py-rattler/SKILL.md
  recipes/py-rattler/recipe.yaml
Due: zizmor

WIP
  recipes/py-rattler/PROMPT.md
Due: none

Fix autobump workflow
  .github/workflows/autobump.yml
Due: zizmor

Path conditions:
  taplo: any of: \.toml$
  zizmor: any of: \.(yaml|yml)$
