Repository pavelzw/skill-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, zizmor

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: Make sure pixi envs are up to date
        entry: pixi install
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run end-of-file-fixer
        language: system
        types: [text]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: pixi run mixed-line-ending
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # zizmor
      - id: zizmor
        name: zizmor
        entry: pixi run zizmor --min-severity high --fix .
        language: system
        types: [yaml]
        pass_filenames: false

add polars skill
  .github/workflows/autobump.yml
  recipes/polars/fix-skill.patch
  recipes/polars/pixi.toml
  recipes/polars/recipe.yaml
Due: taplo, zizmor

WIP
  .typos.toml
Due: taplo

WIP
  .github/workflows/package.yml
Due: zizmor

add typst skill
  .github/workflows/package.yml
  recipes/typst/PROMPT.md
  recipes/typst/SKILL.md
  recipes/typst/pixi.toml
  recipes/typst/recipe.yaml
  recipes/typst/references/CETZ.md
  recipes/typst/references/CODLY.md
  recipes/typst/references/DRAFTING.md
  recipes/typst/references/LILAQ.md
  recipes/typst/references/LOVELACE.md
  recipes/typst/references/POLYLUX.md
  recipes/typst/references/SCRIPTING.md
  recipes/typst/references/STYLING.md
  recipes/typst/references/SYNTAX.md
  recipes/typst/references/TABLES.md
  recipes/typst/references/TOUYING.md
Due: taplo, zizmor

add sqlalchemy skill, update typst and polars skill
  pixi.lock
  recipes/polars/recipe.yaml
  recipes/sqlalchemy/PROMPT.md
  recipes/sqlalchemy/SKILL.md
  recipes/sqlalchemy/pixi.toml
  recipes/sqlalchemy/recipe.yaml
Due: taplo, zizmor

add section on escaping
  recipes/typst/SKILL.md
Due: none

bump
  recipes/typst/recipe.yaml
Due: zizmor

review
  recipes/typst/SKILL.md
Due: none

WIP
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/pixi.toml
  recipes/conda-forge/recipe.yaml
Due: taplo, zizmor

wip
  recipes/conda-forge/references/common-issues.md
  recipes/conda-forge/references/creating-packages.md
  recipes/conda-forge/references/cross-compilation.md
  recipes/conda-forge/references/example-recipe-go.md
  recipes/conda-forge/references/example-recipe-python.md
  recipes/conda-forge/references/example-recipe-rust.md
  recipes/conda-forge/references/rattler-build-migration.md
Due: none

WIP
  recipes/conda-forge/SKILL.md
Due: none

fixes
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/references/cross-compilation.md
  recipes/conda-forge/references/example-recipe-python.md
  recipes/conda-forge/references/rattler-build-migration.md
Due: none

mention what's happening with missing licenses
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-go.md
Due: zizmor

small fixes for conda-forge skill
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/cross-compilation.md
Due: zizmor

add description to packages
  examples/example-skill/recipe.yaml
  recipes/conda-forge/recipe.yaml
  recipes/polars/recipe.yaml
  recipes/sqlalchemy/recipe.yaml
  recipes/typst/recipe.yaml
Due: zizmor

add description to packages (#8)
  examples/example-skill/recipe.yaml
  recipes/conda-forge/recipe.yaml
  recipes/polars/recipe.yaml
  recipes/sqlalchemy/recipe.yaml
  recipes/typst/recipe.yaml
Due: zizmor

add conda-forge skill to readme
  README.md
Due: none

add conda-forge skill to readme (#10)
  README.md
Due: none

Add rattler-build skill
  README.md
  recipes/rattler-build/SKILL.md
  recipes/rattler-build/recipe.yaml
  recipes/rattler-build/references/build-recipe.md
  recipes/rattler-build/references/create-patch.md
  recipes/rattler-build/references/debug-build.md
  recipes/rattler-build/references/inspect-package.md
  recipes/rattler-build/references/new-recipe.md
Due: zizmor

Address PR review comments for rattler-build skill
  recipes/rattler-build/SKILL.md
  recipes/rattler-build/pixi.toml
  recipes/rattler-build/references/create-patch.md
  recipes/rattler-build/references/inspect-package.md
  recipes/rattler-build/references/new-recipe.md
Due: taplo

Add rattler-build skill (#11)
  .typos.toml
  README.md
  recipes/rattler-build/SKILL.md
  recipes/rattler-build/pixi.toml
  recipes/rattler-build/recipe.yaml
  recipes/rattler-build/references/build-recipe.md
  recipes/rattler-build/references/create-patch.md
  recipes/rattler-build/references/debug-build.md
  recipes/rattler-build/references/inspect-package.md
  recipes/rattler-build/references/new-recipe.md
Due: taplo, zizmor

WIP
  recipes/matplotlib-data-visualization/SKILL.md
  recipes/matplotlib-data-visualization/pixi.toml
  recipes/matplotlib-data-visualization/recipe.yaml
Due: taplo, zizmor

fix skill description
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

update
  README.md
Due: none

Add `matplotlib-data-visualization` skill (#13)
  README.md
  recipes/matplotlib-data-visualization/SKILL.md
  recipes/matplotlib-data-visualization/pixi.toml
  recipes/matplotlib-data-visualization/recipe.yaml
Due: taplo, zizmor

mention blogpost
  README.md
Due: none

mention blogpost (#14)
  README.md
Due: none

Add version pinning
  recipes/conda-forge/SKILL.md
Due: none

Update recipes/conda-forge/SKILL.md
  recipes/conda-forge/SKILL.md
Due: none

bump
  recipes/conda-forge/recipe.yaml
Due: zizmor

Add @moritzwilksch as a code owner
  .github/CODEOWNERS
Due: none

Add @moritzwilksch as a code owner (#16)
  .github/CODEOWNERS
Due: none

WIP
  recipes/conda-forge/redesign.md
Due: none

WIP
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/references/common-issues.md
  recipes/conda-forge/references/creating-packages.md
Due: none

fixes
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor
