Repository pavelzw/skill-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, zizmor

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: Make sure pixi envs are up to date
        entry: pixi install
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run end-of-file-fixer
        language: system
        types: [text]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: pixi run mixed-line-ending
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # zizmor
      - id: zizmor
        name: zizmor
        entry: pixi run zizmor --min-severity high --fix .
        language: system
        types: [yaml]
        pass_filenames: false

Bump polars from 575f1e586f6b484feb3cba040b6e29f2a56f3c74 to 575404d3c23ca9163b9bd4a7512d127522ccdc0d
  recipes/polars/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to 899a51bfbd63218153b272c9459dcb4a7ae88da6
  recipes/polars/recipe.yaml
Due: zizmor

mirror official pydantic-ai skill
  .github/workflows/autobump.yml
  recipes/building-pydantic-ai-agents/pixi.toml
  recipes/building-pydantic-ai-agents/recipe.yaml
Due: taplo, zizmor

ref skill license
  recipes/building-pydantic-ai-agents/recipe.yaml
Due: zizmor

proper license
  recipes/building-pydantic-ai-agents/recipe.yaml
Due: zizmor

add logfire skill
  recipes/building-pydantic-ai-agents/recipe.yaml
Due: zizmor

name
  recipes/building-pydantic-ai-agents/recipe.yaml
Due: zizmor

mirror official `pydantic-ai` skills (#57)
  .github/workflows/autobump.yml
  recipes/building-pydantic-ai-agents/pixi.toml
  recipes/building-pydantic-ai-agents/recipe.yaml
Due: taplo, zizmor

generate attestations
  .github/workflows/package.yml
  recipes/polars/recipe.yaml
Due: zizmor

generate attestations (#58)
  .github/workflows/package.yml
  recipes/polars/recipe.yaml
Due: zizmor

fix typo
  .github/workflows/package.yml
Due: zizmor

use rattler-build publish
  .github/workflows/package.yml
  recipes/polars/recipe.yaml
Due: zizmor

fix typo, use `rattler-build publish` with trusted publishing (#59)
  .github/workflows/package.yml
  recipes/polars/recipe.yaml
Due: zizmor

rebuild with attestations
  recipes/building-pydantic-ai-agents/recipe.yaml
  recipes/conda-forge/recipe.yaml
  recipes/matplotlib-data-visualization/recipe.yaml
  recipes/presentation-design/recipe.yaml
  recipes/pydantic-evals/recipe.yaml
  recipes/rattler-build/recipe.yaml
  recipes/sqlalchemy/recipe.yaml
  recipes/typst/recipe.yaml
Due: zizmor

WIP
  recipes/gws-cli/recipe.yaml
Due: zizmor

rebuild with attestations (#60)
  recipes/building-pydantic-ai-agents/recipe.yaml
  recipes/conda-forge/recipe.yaml
  recipes/gws-cli/recipe.yaml
  recipes/matplotlib-data-visualization/recipe.yaml
  recipes/presentation-design/recipe.yaml
  recipes/pydantic-evals/recipe.yaml
  recipes/rattler-build/recipe.yaml
  recipes/sqlalchemy/recipe.yaml
  recipes/typst/recipe.yaml
Due: zizmor

reset gws-cli recipe
  recipes/gws-cli/recipe.yaml
Due: zizmor

reset gws-cli recipe (#61)
  recipes/gws-cli/recipe.yaml
Due: zizmor

Bump building-pydantic-ai-agents from cb098e838fb9a280141b34825e4db112afb05256 to 608b3c157715c5cbc7205de2999f3a5aba8ac130
  recipes/building-pydantic-ai-agents/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to 086de416d82498292deed9770e83dcc2905c93c7
  recipes/polars/recipe.yaml
Due: zizmor

add js ref
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/references/example-recipe-javascript.md
Due: none

bump build no
  recipes/conda-forge/recipe.yaml
Due: zizmor

Bump building-pydantic-ai-agents from cb098e838fb9a280141b34825e4db112afb05256 to 97d8c1d5adcf85dce633f5f4633f4e01464d087e
  recipes/building-pydantic-ai-agents/recipe.yaml
Due: zizmor

Bump polars from 575404d3c23ca9163b9bd4a7512d127522ccdc0d to e5cb785e4e6130ec16ef6226718cc2b8cd577216
  recipes/polars/recipe.yaml
Due: zizmor

fix pydantic skills autoupdater
  .github/workflows/autobump.yml
  .github/workflows/ci.yml
  pixi.toml
  recipes/pydantic-skills/pixi.toml
  recipes/pydantic-skills/recipe.yaml
Due: taplo, zizmor

WIP
  recipes/pydantic-skills/recipe.yaml
Due: zizmor

fix
  .github/scripts/update.sh
Due: none

add octo-sts
  .github/chainguard/write.sts.yml
  .github/workflows/autobump.yml
Due: zizmor

fix pydantic skills autoupdater (#64)
  .github/chainguard/write.sts.yml
  .github/scripts/update.sh
  .github/workflows/autobump.yml
  .github/workflows/ci.yml
  pixi.toml
  recipes/pydantic-skills/pixi.toml
  recipes/pydantic-skills/recipe.yaml
Due: taplo, zizmor

rename octo-sts policy
  .github/chainguard/write.sts.yaml
Due: zizmor

rename octo-sts policy (#65)
  .github/chainguard/write.sts.yaml
Due: zizmor

Bump pydantic-skills from cb098e838fb9a280141b34825e4db112afb05256 to 97d8c1d5adcf85dce633f5f4633f4e01464d087e
  recipes/pydantic-skills/recipe.yaml
Due: zizmor

use octo-sts in pixi.lock bump workflow
  .github/workflows/autobump.yml
  .github/workflows/update-lockfile.yml
Due: zizmor

use octo-sts in pixi.lock bump workflow (#67)
  .github/workflows/autobump.yml
  .github/workflows/update-lockfile.yml
Due: zizmor

add exclude-newer
  pixi.toml
Due: taplo

add exclude-newer (#69)
  pixi.toml
Due: taplo

add textual skill (#29)
  README.md
  recipes/textual/PROMPT.md
  recipes/textual/SKILL.md
  recipes/textual/pixi.toml
  recipes/textual/recipe.yaml
  recipes/textual/references/CSS.md
  recipes/textual/references/EVENTS.md
  recipes/textual/references/SCREENS.md
  recipes/textual/references/TESTING.md
  recipes/textual/references/WIDGETS.md
  recipes/textual/references/WORKERS.md
Due: taplo, zizmor

Update pixi lockfile
  pixi.lock
Due: none
