Repository pavelzw/skill-forge: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo, zizmor

taplo:
  name: taplo
  entry: pixi run taplo format
  language: system

zizmor:
  name: zizmor
  entry: pixi run zizmor --min-severity high --fix .
  language: system
  pass_filenames: false

Refine presentation-design skill
  recipes/presentation-design/SKILL.md
Due: none

Add antipattern: boxes must always contain a visual element
  recipes/presentation-design/SKILL.md
Due: none

add `pixi exec cf-job-logs wait-for-ci` instruction
  recipes/conda-forge/SKILL.md
Due: none

Address review comments on presentation-design skill
  recipes/presentation-design/SKILL.md
  recipes/presentation-design/recipe.yaml
Due: zizmor

Refine presentation-design skill (#40)
  recipes/presentation-design/SKILL.md
  recipes/presentation-design/recipe.yaml
Due: zizmor

feat: Use cf-job-log
  recipes/conda-forge/SKILL.md
Due: none

bump reicpe version
  recipes/conda-forge/recipe.yaml
Due: zizmor

feat: Use cf-job-log (#43)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

Bump polars from 575f1e586f6b484feb3cba040b6e29f2a56f3c74 to 903caa6a26a6613c41ee90511b65c28cc3426d5e
  recipes/polars/recipe.yaml
Due: zizmor

Bump gws-cli from 0.18.1 to 0.19.0
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Bump gws-cli from 0.19.0 to 0.22.0
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Add agentskills validate test to gws-cli recipe
  recipes/gws-cli/README.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Add agentskills validate test to gws-cli recipe (#45)
  recipes/gws-cli/README.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

use the PR template
  recipes/conda-forge/SKILL.md
Due: none

bump version
  recipes/conda-forge/recipe.yaml
Due: zizmor

Bump gws-cli from 0.22.0 to 0.22.1
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

use the PR template (#47)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
Due: zizmor

Use python_min in Python example recipe
  recipes/conda-forge/references/example-recipe-python.md
Due: none

Update version
  recipes/conda-forge/recipe.yaml
Due: zizmor

Use python_min in Python example recipe (#49)
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-python.md
Due: zizmor

Bump gws-cli from 0.22.1 to 0.22.3
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Bump polars from 575f1e586f6b484feb3cba040b6e29f2a56f3c74 to 71add644263a56368f8680d68df504c6674dc1e5
  recipes/polars/recipe.yaml
Due: zizmor

init
  recipes/writing-tests/SKILL.md
  recipes/writing-tests/pixi.toml
  recipes/writing-tests/recipe.yaml
Due: taplo, zizmor

improve
  recipes/writing-tests/SKILL.md
Due: none

merge sections
  recipes/writing-tests/SKILL.md
Due: none

wip
  recipes/writing-tests/SKILL.md
  recipes/writing-tests/recipe.yaml
Due: zizmor

shorten desc
  recipes/writing-tests/SKILL.md
Due: none

python_min
  recipes/conda-forge/references/example-recipe-python.md
Due: none

WIP
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/arm-builds-and-cross-compilation.md
  recipes/conda-forge/references/cross-compilation.md
Due: zizmor

WIP
  recipes/conda-forge/references/arm-builds-and-cross-compilation.md
Due: none

feat(conda-forge): Update python example and ARM building (#51)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/arm-builds-and-cross-compilation.md
  recipes/conda-forge/references/cross-compilation.md
  recipes/conda-forge/references/example-recipe-python.md
Due: zizmor

review
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-go.md
  recipes/conda-forge/references/example-recipe-rust.md
  recipes/conda-forge/references/shell-completions.md
Due: zizmor

fix(conda-forge): keep recipe examples generic
  recipes/conda-forge/references/example-recipe-go.md
  recipes/conda-forge/references/example-recipe-rust.md
Due: none

updates
  recipes/conda-forge/references/example-recipe-go.md
  recipes/conda-forge/references/example-recipe-rust.md
  recipes/conda-forge/references/shell-completions.md
Due: none

Mention shell completions for conda-forge recipes (#20)
  recipes/conda-forge/SKILL.md
  recipes/conda-forge/recipe.yaml
  recipes/conda-forge/references/example-recipe-go.md
  recipes/conda-forge/references/example-recipe-rust.md
  recipes/conda-forge/references/shell-completions.md
Due: zizmor

Bump gws-cli from 0.22.3 to 0.22.5
  recipes/gws-cli/SKILLS.md
  recipes/gws-cli/generate.py
  recipes/gws-cli/recipe.yaml
Due: zizmor

Fix autoupdate workflow
  .github/workflows/update-lockfile.yml
Due: zizmor

Fix autoupdate workflow (#54)
  .github/workflows/update-lockfile.yml
Due: zizmor

Update pixi lockfile
  pixi.lock
Due: none

Path conditions:
  taplo: any of: \.toml$
  zizmor: any of: \.(yaml|yml)$
